body, main {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
}

h2, h3, h4, h5, h6 {
  color: var(--color-black-accent-1);
}

h1 {
  color: var(--color-foreground);
  font-size: var(--font-size-11);
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 500;
  line-height: 1.1em;
}

h2 {
  font-size: var(--font-size-9);
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 500;
  line-height: 1.1em;
}

h3 {
  font-size: var(--font-size-8);
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 500;
  line-height: 1.1em;
}

h4 {
  font-size: var(--font-size-7);
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 500;
  line-height: 1.1em;
}

h5 {
  font-size: var(--font-size-6);
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 500;
  line-height: 1.3em;
}

h6 {
  font-size: var(--font-size-5);
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 500;
  line-height: 1.3em;
}

p {
  margin-bottom: .625rem;
  font-size: var(--font-size-1);
  line-height: 1.6em;
  color: var(--color-black-accent);
  font-family: var(--font-family-body);
}

@media screen and (max-width: 1280px) {
  body {
    font-size: var(--font-size-2);
  }
  h1 {
    font-size: var(--font-size-11);
  }
  h2 {
    font-size: var(--font-size-9);
  }
  h3 {
    font-size: var(--font-size-8);
  }
  h4 {
    font-size: var(--font-size-7);
  }
  h5 {
    font-size: var(--font-size-6);
  }
  h6 {
    font-size: var(--font-size-5);
  }
  p {
    font-size: var(--font-size-1);
    line-height: 1.65;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: var(--font-size-1);
  }
  h1 {
    font-size: var(--font-size-10);
  }
  h2 {
    font-size: var(--font-size-7);
  }
  h3 {
    font-size: var(--font-size-7);
  }
  h4 {
    font-size: var(--font-size-5);
  }
  h5 {
    font-size: var(--font-size-4);
  }
  h6 {
    font-size: var(--font-size-3);
  }
  p {
    font-size: calc(var(--font-size-1) / var(--phi-quarter));
    line-height: 1.6;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: var(--font-size-1);
  }
  h1 {
    font-size: var(--font-size-8);
  }
  h2 {
    font-size: var(--font-size-6);
  }
  h3 {
    font-size: var(--font-size-6);
  }
  h4 {
    font-size: var(--font-size-5);
  }
  h5 {
    font-size: var(--font-size-3);
  }
  h6 {
    font-size: var(--font-size-2);
  }
  p {
    font-size: 0.675rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: var(--font-size-1);
  }
  h1 {
    font-size: var(--font-size-8);
  }
  h2 {
    font-size: var(--font-size-5);
  }
  h3 {
    font-size: var(--font-size-5);
  }
  h4 {
    font-size: var(--font-size-4);
  }
  h5 {
    font-size: var(--font-size-2);
  }
  h6 {
    font-size: var(--font-size-1);
  }
  p {
    font-size: 0.475rem;
    line-height: 1.6;
  }
}
