@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --color-background: #262624;
  --color-foreground: #faf9f5;

  --color-black: #141413;
  --color-black-background: #000000;
  --color-black-accent-1: #c2c0b6;
  --color-black-accent-2: #b3b1a8;
  --color-white: var(--color-foreground);

  --color-primary: #c6613f;
  --color-primary-accent-1: #fe8181;
  --color-secondary: #5c83a9;

  --color-error: #d45151;
  --color-error-border: #992c2c;

  --color-gray-1: #30302e;
  --color-gray-2: #65645f;
  --color-gray-3: #5c5b57;
  --color-gray-4: #f0eee6;
  --color-gray-5: #3f3f3d;
  
  --color-normal: #BCBCAC;
  --color-fighting: #BC5442;
  --color-flying: #669AFF;
  --color-poison: #AB549A;
  --color-ground: #DEBC54;
  --color-rock: #BCAC66;
  --color-bug: #ABBC1C;
  --color-ghost: #6666BC;
  --color-steel: #ABACBC;
  --color-fire: #FF421C;
  --color-water: #2F9AFF;
  --color-grass: #78CD54;
  --color-electric: #FFCD30;
  --color-psychic: #FF549A;
  --color-ice: #78DEFF;
  --color-dragon: #7866EF;
  --color-dark: #785442;
  --color-fairy: #FFACFF;
  --color-shadow: #0E2E4C;

  --font-body-size: var(--font-size-2);
  --font-size-11: 3.5rem;
  --font-size-10: 3rem;
  --font-size-8: 2.25rem;
  --base-font-size: 1rem;
  --base-font-size-small: .938rem;
  --font-size-1: .938rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.375rem;
  --font-size-6: 1.75rem;
  --font-size-7: 2rem;
  --font-size-9: 2.5rem;
  /* --font-size-12: 5rem; */
}

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", system-ui;
}
